<nav>
    <div class="site-title">
        <a href="/">
            <h1>
                Becacabe Blog
            </h1>
        </a>
        <p>A personal site</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About me</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>