<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="content">
        <h2>About Ngo Minh Tu (Becacabe)</h2>
        <p>
            param1
        </p>
        <p>
            param2
        </p>
        <p>
            param3
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>